<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.cdtime.loansys_api.dao.ApplicationDao">
    <!--配置表和对象的字段映射 -->
    <resultMap id="applicationMap" type="cc.cdtime.loansys_api.entity.ApplicationView">
        <result property="applyId" column="apply_id"/>
        <result property="yourName" column="your_name"/>
        <result property="contactNumber" column="contact_number"/>
        <result property="loanAmount" column="loan_amount"/>
        <result property="personalLoan" column="personal_loan"/>
        <result property="jobTitle" column="job_title"/>
        <result property="employerName" column="employer_name"/>
        <result property="monthlySalary" column="monthly_salary"/>
        <result property="salaryMethod" column="salary_method"/>
        <result property="userId" column="user_id"/>
        <result property="businessLoan" column="business_loan"/>
        <result property="collateralizedLoan" column="collateralized_loan"/>
        <result property="balanceTransfer" column="balance_transfer"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <!--create loan application form-->
    <insert id="createLoanApplication"
            parameterType="cc.cdtime.loansys_api.entity.Application">
        insert into application
        (apply_id, your_name, contact_number, email,
         loan_amount, personal_loan, business_loan,
         collateralized_loan, balance_transfer, location,
         job_title, employer_name, monthly_salary,
         salary_method, user_id, create_time)
        values (#{applyId}, #{yourName}, #{contactNumber}, #{email},
                #{loanAmount}, #{personalLoan}, #{businessLoan},
                #{collateralizedLoan}, #{balanceTransfer}, #{location},
                #{jobTitle}, #{employerName}, #{monthlySalary},
                #{salaryMethod}, #{userId}, #{createTime})
    </insert>

    <!--    query user application record by email-->
    <select id="getApplication" parameterType="java.lang.String" resultMap="applicationMap">
        select *
        from application
        where email = #{email}
    </select>

    <select id="sumApplyLoan" parameterType="map" resultType="map">
        select count(*) as total, sum(loan_amount) as total_amount
        from application
    </select>

    <select id="listApplication" parameterType="map" resultMap="applicationMap">
        select *
        from application
        where 1=1
        order by ids desc
        <choose>
            <when test="offset!=null">
                limit #{size} offset #{offset}
            </when>
        </choose>
    </select>
</mapper>